<or-user-form (userAddedEvent)="addUser($event)"></or-user-form>
<or-spinner [visible] = "isLoading"></or-spinner>
<div>
  <ul class= "list-group users">
    <li class="list-group-item" *ngFor = "let user of users" 
    [class.active]="currentUser == user"  (click)="select(user)">
      <or-user [user] = "user" (deleteEvant) = "deleteUser($event)" (editEvant) = "updateUser($event)"> </or-user>
     </li>
  </ul>
</div>
