<div>
  <or-post-form  (postAddedEvent)="addPost($event)"></or-post-form>
   <or-spinner [visible]="isLoading"></or-spinner>
   <ul class= "list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" [class.active]="currentPost == post" 
    (click)="select(post)">
      <or-post [post] = "post" (editEvent) = "editPost($event)" (deleteEvent) = "deleteUser($event)"></or-post>
        <ul> 
            <li *ngFor = "let user of post.userName">
              {{(user | async)?.name}}
            </li>
        </ul>
      </li>
   </ul>

   
 </div>

